.editable {
    width: 100%;
}

.editable_butn {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    color: rgb(133, 131, 131);
}

.editable_edit {
    display: flex;
    flex-direction: column;
}

.editable_edit textarea {
    background-color: rgb(89, 87, 87);
    border: none;
    outline: none;
    resize: none;
    font-size: 14px;
    padding: 10px;
    height: 100px;
    color:  lightgray;
}

.editable_edit_footer {
    display: flex;
    align-items: center;
    color:  rgb(89, 87, 87);
    margin-top: 10px;
}

.editable_edit_footer button {
    background-color:  rgb(89, 87, 87);
    font-size: 16px;
    border: none;
    padding: 5px 15px;
    color:  lightgray;
    cursor: pointer;
}

.editable_edit_footer svg {
    margin-left: 20px;
    cursor: pointer;  
}